@{
    Layout = null;
}

<html>
<head>
    <style>
        body {
            background-color: #0071c5;
        }

        p {
            font-size: 22px;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="height: 100%">
            <p class="row col-md-12 pull-left">Login with</p>
            <img class="row col-md-12" src="~/Content/irst_brand.png" alt="Intel RealSense Technology"/>
        </div>
    </div>
</body>
</html>


