body {
    font-family: 'Segoe UI',Helvetica,Sans-Serif;
    line-height: 1.4;
    border-top-width: 10px;
    border-top-color: #000;
    border-top-style: solid;
    color: #333;
    background-color: #EFEEEF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

footer {
    background-color: #E2E2E2;
}

a,
a:visited,
a:active,
a:hover,
#loginLink,
#registerLink {
    color: #333;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

p.row > a {
    color: #333;
    text-decoration: underline;
}

p * a {
    text-decoration: underline;
}

p * a:hover {
    background-color: #d3dce0;
}

ul.list-unstyled {
    margin-top: 8px;
}

ul.list-unstyled > li > div > span > a:hover,
ul.list-unstyled > li > span > a:hover {
    background-color: #d3dce0;
}

.col-md-3 > section > ul > li > a {
    text-decoration: underline;
}

ul.list-unstyled > li > div > a {
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
}

ul.list-unstyled > li > div.row > a {
    text-decoration: none;
}

ul.list-unstyled > li > div > a > h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.list-unstyled > li > div > a > h4 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

ul.list-unstyled > li > a > h4 {
    font-weight: bold;
    margin-bottom: 0;
}

ul.list-unstyled > li > div > p {
    margin: 0;
}

ul.list-unstyled > li > img {
    width: 48px;
    height: 48px;
}

a#articleLink:hover {
    text-decoration: none;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input[type="submit"] {
    cursor: pointer;
}

div.col-md-2 {
    font-size: .8em;
}

div.col-md-2 > ul > li > a {
    text-decoration: underline;
}

body > footer > div > p {
    font-size: .8em;
}

.form-inline {
    padding-right: 15px;
    margin: 0;
}

.form-inline > input[type="text"] {
    border-style: solid;
    border-width: 1px;
    border-color: #777;
}

.form-inline > input[type="text"]:hover {
    border-color: #000;
}

.form-inline > input[type="submit"] {
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    background-color: #DDD;
    padding: 3px 6px 2px 6px;
    font-size: .9em;
}

.form-inline > input[type="submit"]:hover {
    background-color: #EFF7FF;
    border-color: Highlight;
}

ul > li {
    list-style: none;
}

ul.pull-right {
    margin-bottom: 5px;
    padding: 0;
    text-align: right;
}

ul.pull-right > li {
    display: inline;
    list-style: none;
    margin-bottom: 5px;
}

ul.pull-right > li > a,
ul.pull-right > li > a:active,
ul.pull-right > li > a:visited {
    text-decoration: none;
    color: #999;
    font-size: 1.3em;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 0;
    border: hidden; 
}

ul.pull-right > li > a:hover {
    color: #333;
}

.navbar {
    border-color: #fff;
    background-color: #fff;
    margin-bottom: 0;
}

.nav > li > a {
    padding: 0;
}

.navbar-right > li {
    background-color: #d3dce0;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: .85em;
    padding: 2px;
}

.typenail {
    width: 24px;
    height: 24px;
}

.tag {
    color: white; 
    background-color: black;
    padding: 2px;
    margin: 0 2px;
}

.navigation-bar {
    display: inline-block;
    margin: 20px 0;
}

.navigation-bar > li {
    list-style: none;
    display: inline;
    float: left;
}

.navigation-bar > li:first-child {
    cursor: pointer;
}

.navigation-bar > li > a {
    text-decoration: none;
    padding: 6px 10px;
    color: #333;
    background-color: #fff;
    border: 1px solid;
    border-color: #ddd;
}

.navigation-bar > li:first-child > a {
    pointer-events: inherit;
    cursor: text;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0;
}

.navigation-bar > li:last-child > a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0;
}

.navigation-bar > li > a:hover {   
    background-color: #EFEEEF;
}

.navbar-inverse .nav > li > a:hover {
    color: #333;
}

.navbar-collapse {
    margin: 5px 0;
}

.navbar-nav {
    margin-top: 5px;
    margin-bottom: 5px;
}

section > ul > li > a > h5 {
    text-align: justify;
}

section > ul > li > div > img {
    margin-top: -4px;
}

div.hidden-xs > section > ul > li > a > h5 {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .navbar-right {
        padding-left: 15px;
        padding-right: 15px;
    }

    ul.pull-right > li > a {
        padding-right: -15px;
    }
}